In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('comments.csv')
df

    Unnamed: 0                                           comments
0            0  Casually scoring two goals for his country :) ...
1            1  <a href="https://www.youtube.com/watch?v=C6sVG...
2            2                 Mausi chi gaand.....what a goal ðŸŽ‰ðŸŽ‰
3            3                                      MessiðŸ”¥ðŸ”¥ðŸ”¥ðŸ”¥ðŸ”¥ðŸ”¥ðŸ”¥ðŸ”¥
4            4  Claro , sin pitarle penal ,por mano en el area...
..         ...                                                ...
91          91  <a href="https://www.youtube.com/watch?v=C6sVG...
92          92  <a href="https://www.youtube.com/watch?v=C6sVG...
93          93                             Missed so many chances
94          94                                      Goat forever!
95          95  Bro( Editor), when it is messi&#39;s match, gi...

[96 rows x 2 columns]

In [6]:
df.columns

Index(['Unnamed: 0', 'comments'], dtype='object')

In [9]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [10]:
df.describe()

                                                 comments
count                                                  96
unique                                                 96
top     Casually scoring two goals for his country :) ...
freq                                                    1